html {
    background:#fff;
}
body {
	line-height: 1;
	color: #000;
	font-weight: normal;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 13px;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    text-align: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.topspacer {
    height: 10px;
}

.outer {
    width: 300px;
    margin-left:auto;
    margin-right:auto;
}

.outermain {
    width: 300px;
    text-align:left;
    float:left;
}

.lightwrapper {
    width: 300px;
    float:left;
}

.lightimage {
    width: 300px;
    float:left;
}

